:root {
  --primary-light-500: lightgray;
  /* --primary-dark-500: rgba(46, 138, 104, 0.884); */
  --primary-dark-500: #71717a;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.navbar {
  background-color: var(--primary-light-500);
}

.my-app-dark .navbar {
  background-color: var(--primary-dark-500);
}

.p-datatable {
  max-width: calc(100vw - 10em);
  min-height: calc(100vh - 17em);
}

.p-fieldset-legend {
  font-size: large;
}
.p-datatable-paginator-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .p-button {
    margin-top: 10px;
    width: 6.2em;
  }
}

@media only screen and (max-width: 600px) {
  .formScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textSize {
    font-weight: 100;
  }

  .p-button {
    margin-top: 10px;
    width: 6.2em;
    height: 1.9em;
  }
}

@media only screen and (max-height: 800px) {
  body {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 450px) {
  .p-paginator {
    height: 5.5em;
  }
}
